    .container1{
        background-image:url('/static/files/img/bg1.jpeg');
        background-size:cover;
        background-repeat:no-repeat;
        background-position:center;
        background-attachment:fixed;

    }
    .btn2 {

        height:40px;
        color: white;
        background: #AF0A59;;
        font-size: 18px;
        border-radius: 15px;
        padding: 5px;
        font-weight: 500;
        border: none;
        text-align: center;
    }

    .btn2:hover {
background-color: white;
border: 1px solid #AF0A59;
color: #AF0A59;

}

.l1{
    font-size:20px;
    margin-bottom:20px;
    font-weight:400;
}

.shadow{
    padding:100px;
    background-color:#d7f5f7;
     border-radius: 40px;

}
   .glow {
            text-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00;
            animation: glowing 2s infinite;
            font-size:30px;
        }

        @keyframes glowing {
            0% {
                text-shadow: 0 0 10px #6232a8, 0 0 20px #7f32a8, 0 0 30px #9b32a8;
            }
            50% {
                text-shadow: none;
            }
            100% {
                text-shadow: 0 0 10px #ed9fb0, 0 0 20px #ed9fb0, 0 0 30px #ed9fb0;
            }
        }