<!DOCTYPE html>
<html>
<head>
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
         <link rel="stylesheet" href="{{url_for('static',filename='files/css/style.css')}}">
    <title>Task1</title>
</head>
<body class="container1">
 <div class="container d-flex flex-column justify-content-center align-items-center align-self-center" style="height:100vh;">
      <div class="shadow">
    <div class="row mb-5">
                    <div class="text-center mx-auto">
                        <h2 class="head2">Sentiment Analyzer</h2>
                    </div>
                </div>

      <div class="row d-flex justify-content-center">
                    <div class="col-md-12 col-lg-12 col-xl-12">
                        <div class="container">

    <form class="text-center" method="POST">
        <div class="l1">
       <label for="text">Enter text for sentiment analysis:</label>
            </div>
         <div class="mb-3">
             <textarea class="form-control" id="text" name="text" rows="4" cols="50" placeholder="Enter your text" style="width: 100%; border-radius: 10px;"></textarea>
         </div>



        <div class="d-grid mt-4">
                                        <button class="btn2" type="submit">Analyze</button>
                                    </div>
    </form><br>
    {% if sentiment %}
        <p class="glow">The sentiment is: {{ sentiment }}</p>
    {% endif %}

 </div>
                        </div>
                    </div>
      </div>
 </div>
</body>
</html>
